<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Skypedia - Jalan Jalan Mudah</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/logo.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Siimple - v2.1.0
  * Template URL: https://bootstrapmade.com/free-bootstrap-landing-page/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container-fluid">

      <button type="button" class="nav-toggle"><i class="bx bx-menu"></i></button>
      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="#header">Home</a></li>
          <li><a href="/user">Profil Saya</a></li>
          <li><a href="/user/history">History Saya</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End #header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h1 style="color: white;">Halo <%= firstname %> !</h1>
      <h2 style="color: white;">Mau jalan jalan kemana?</h2>
      <form action="/search" method="post" role="form" class="php-email-form">
        <% if(check) { %>
          <div class="alert alert-danger" role="alert">
            <strong>Ups...</strong> <%= check %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% } %> 
        <div class="row no-gutters">
          <div class="col-md-6 form-group pr-md-1">
            <select name="from" class="form-control">
              <option value="">Kota Asal</option>
              <% data.forEach( airport => { %>
                <option value="<%= airport.airportCode %>"><%= airport.location %></option>
              <% }) %> 
            </select>
          </div>
          <div class="col-md-6 form-group pl-md-1">
            <select name="destination" class="form-control">
              <option value="">Kota Tujuan</option>
              <% data.forEach( airport => { %>
                <option value="<%= airport.airportCode %>"><%= airport.location %></option>
              <% }) %> 
            </select>
          </div>
        </div>
        <div class="text-center">
          <p style="color: white;">Pilih tanggal berangkat</p>
          <input type="date" name="dateflight">
        </div><br>
        <div class="text-center"><button type="submit">Cari Penerbangan!</button></div>
      </form>
    </div>
  </section><!-- #hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="/img/about-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Kenapa Skypedia?</h3>
            <p class="font-italic">
              Karena Skypedia memberikan fitur yang sangat menarik, diantaranya:
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> Pesan lebih cepat, isi data penumpang dengan sekali klik.</li>
              <li><i class="bx bx-check-double"></i> Pemesanan tanpa ribet di mana pun dan kapan pun.</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="card">
              <img src="/img/why-us-1.jpg" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="bx bx-dollar"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Banyak Promo Spesial</a></h5>
                <p class="card-text">Banyak promo untuk tiket kesayanganmu. Dapatkan diskon harga terbaik agar bujet liburan kamu semakin hemat. Tidak ada alasan lagi untuk menunda liburan kamu. </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="card">
              <img src="/img/why-us-2.jpg" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="bx bxs-help-circle"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">24/7 Customer Care</a></h5>
                <p class="card-text">Melalui pelayanan 24/7 Customer Care, kami akan selalu ada buat kamu. Dapatkan bantuan untuk pemesanan tiketmu dengan pelayanan 24/7 Customer Care dari Skypedia.com. </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="card">
              <img src="/img/why-us-3.jpg" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="bx bx-credit-card"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Banyak Pilihan Cara Pembayaran</a></h5>
                <p class="card-text">Saat transaksi di Skypedia.com, kamu bisa memilih cara pembayaran sesuai keinginan. Ada pilihan pembayaran via bank transfer, ATM transfer, Virtual Account (VA), kartu debit online, maupun kartu kredit. Bisa dicicil juga, lho. Prosesnya mudah dan simpel!. </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contact Us</h2>
        </div>

        <div class="row justify-content-center">

          <div class="">
            <div class="info">
              <div class="address">
                <i class="bx bx-map"></i>
                <p>Skypedia<br>Jakarta, 14320</p>
              </div>

              <div class="email">
                <i class="bx bx-envelope"></i>
                <p>cs@skypedia.com</p>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Skypedia</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-landing-page/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End #footer -->

  <!-- Vendor JS Files -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>