<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicons -->
	<link href="/img/logo.png" rel="icon">

	<title>History <%= data.fullName(data.first_name, data.last_name) %> </title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="/css/style.css" rel="stylesheet">

	<style>
		body {
			display: flex;
			min-height: 100vh;
			flex-direction: column;
		}

		main {
			flex: 1 0 auto;
		}

		form div {
			margin-bottom: 1rem;
		}

		form label {
			font-size: 1rem;
			color: inherit;
		}

		img {
			max-width: 200px;
		}
	</style>
</head>

<body>
	<div class="navbar-fixed" style="margin-bottom: 2rem;">
		<nav class="green" role="navigation">
			<div class="nav-wrapper container">
				<a href="/" class="brand-logo">Skypedia</a>
				<ul class="right hide-on-med-and-down">
                    <li><a href="/user/history">History Perjalanan Kamu</a></li>
					<li><a href="/user">Profil Kamu</a></li>
				</ul>
				<a href="javascript: void(0);" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			</div>
		</nav>
	</div>

<main class="container">
    <h4>History Kamu</h4>
    <h6>Total Perjalanan Kamu: <%= data.Flights.length %></h6>
    <!-- <p>Ingin tahu cara memperoleh Skypedia Miles? <a href="/user/history?help=Kamu akan mendapatkan 10 point">Klik Disini!</a></p> -->
	<div class="section">
		<div style="display: block; width: 100%; overflow-x: auto;">
			<table class="highlight centered">
				<thead>
					<tr>
						<th>No</th>
						<th>Airline</th>
						<th>Nomor Penerbangan</th>
						<th>Penerbangan</th>
						<th>Tanggal Keberangkatan</th>
						<th>Harga</th>
						<th>Jam Berangkat</th>
					</tr>
				</thead>
				<tbody>
					<% data.Flights.forEach( (flight, index) => { %>
						<tr>
							<td><%= index + 1 %></td>
							<td><%= flight.Airline.airlineName %></td>
							<td><%= flight.flightNumber %></td>
							<td><%= penerbangan(flight.AvailableFlight.FromIATA, flight.AvailableFlight.ToIATA) %></td>
							<td><%= convertDate(flight.dateflight) %></td>
							<td><%= flight.convertMoney(flight.price) %></td>
							<td><%= flight.timeflight %></td>
						</tr>
					<% }) %> 
				</tbody>
			</table>
		</div>
	</div>
</main>

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Skypedia</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-landing-page/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End #footer -->
</body>

</html>